html {
    background-color: honeydew;
    text-align: center;
}

h2,
h1 {
    color: darkgreen;
}

.box {
    padding: 5px;
    margin: 10px;
    color: red;
}

button {


    font-family: 'Courier New', Courier, monospace;
    padding: 10px auto;
    margin: 10px;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: 50px auto;
    background-color: aqua;
}

table,
th,
td {
    border: 2px solid black;
    padding: 5px;
}

th {
    font-size: 15px;
    font-weight: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkgreen;
}

td {
    font-size: 15px;
    font-weight: 400px;
    font-family: fantasy;
    color: green;
}

#emp {
    float: left;
}